*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    

}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

// using rem: 1rem = 10px,



@tailwind base;
@tailwind components;
@tailwind utilities;