.title-tab {
    font-size: 25px;
    margin-bottom: 0;
}

.tab-films{
    justify-content: center;
}

.tab-films li{
    padding: 10px;
}

.tab-films a{
    text-decoration: none;
    display: block;
    color: #333;
}

.moviepage .tab-content img{
    width: 100%;
    border-radius: 20px;
}

.moviepage .tab-content{
    padding-top: 20px;
}

.tab-films .active{
    border-bottom: 2px solid;
}

.moviepage .tab-content p{
    margin-bottom: 0px;
}

.title-films {
    color: #337ab7;
    font-weight: bold;
    font-size: 23px;
}

.moviepage button {
    background: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%) !important;
    width: 100%;
    padding: 7px;
    text-transform: uppercase;
    border-radius: 9px;
    font-weight: bold;
    color: #fff;
}