.container{
    background-color: aquamarine;
}

.container-1{
    height: 24.8px;
    background-color: black;
}

.container-2{
    position: relative;
    display: block;
    box-shadow: inset;
    height: 75.2px;
    background-color: white;
}